<title>Swim Wear a E-Commerce online Shopping Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
<link href="styles/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
<link href="styles/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="styles/css/owl.carousel.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Swim Wear Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="styles/js/jquery.min.js"></script>
<script type="text/javascript" src="styles/js/bootstrap-3.1.1.min.js"></script>
<!-- cart -->
<script src="styles/js/simpleCart.min.js"> </script>
<!-- cart -->

<script src="styles/js/imagezoom.js"></script>

<!-- FlexSlider -->
<script defer src="styles/js/jquery.flexslider.js"></script>
<link rel="stylesheet" href="styles/css/flexslider.css" type="text/css" media="screen" />

<script>
    // Can also be used with $(document).ready()
    $(window).load(function() {
        $('.flexslider').flexslider({
            animation: "slide",
            controlNav: "thumbnails"
        });
    });
</script>

<!-- the jScrollPane script -->
<script type="text/javascript" src="styles/js/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" id="sourcecode">
    $(function()
    {
        $('.scroll-pane').jScrollPane();
    });
</script>
<!-- //the jScrollPane script -->
<link href="styles/css/form.css" rel="stylesheet" type="text/css" media="all" />
<!-- the mousewheel plugin -->
<script type="text/javascript" src="styles/js/jquery.mousewheel.js"></script>
