<!--
Au<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
    <head>
        <%- partial('../partials/head.ejs') %>
    </head>
    <body>
        <%- partial('../partials/navbar.ejs') %>


	<!-- cart -->


<!-- checkout -->
<div class="content">
<div class="cart-items">
	<div class="container">
			 <h2>Daftar Pesanan Saya</h2>
				<script>$(document).ready(function(c) {
					$('.close1').on('click', function(c){
						$('.cart-header').fadeOut('slow', function(c){
							$('.cart-header').remove();
						});
						});	  
					});
			   </script>
			 <div class="cart-header">
                    <div class="cart-header3">
                            <div class="cart-sec simpleCart_shelfItem">
                                  <div class="cart-item cyc">
                                      <br>
                                       <img src="styles/images/A Couple_Sun Oct 07 2018 15_54_45 GMT+0000 (UTC).png" class="img-responsive" alt="">
                                  </div>
                                 <div class="cart-item-info">
                                     <br>
                                      <h3><a href="#"> A Couple_Sun Oct</a>
                                          <div class="delivery">
                                         <p>Custom</p>
                                         <br>
                                         <p>Desaigner : Efriza</p>
                                         <br>
                                          <p>Service Charges : Rp 20.000</p>
                                          <div class="clearfix"></div>
                                  </div>	
                                 </div>
                                 <div class="subscribe">
                                 <div class="subscribe2">
                                      <form>
                                          <input type="submit" value="Detail">
                                      </form>
                                  </div>
                                 <div class="clearfix"></div>
                              </div>						
                            </div>
                        </div>	

                        <div class="cart-header3">
                                <div class="cart-sec simpleCart_shelfItem">
                                      <div class="cart-item cyc">
                                          <br>
                                           <img src="styles/images/The Dancing Woman_Sun Oct 07 2018 15_08_37 GMT+0000 (UTC).png" class="img-responsive" alt="">
                                      </div>
                                     <div class="cart-item-info">
                                         <br>
                                          <h3><a href="#">The Dancing Woman_Sun</a>
                                              <div class="delivery">
                                             <p>Custom</p>
                                             <br>
                                             <p>Desaigner : Efriza</p>
                                             <br>
                                              <p>Service Charges : Rp 20.000</p>
                                              <div class="clearfix"></div>
                                      </div>	
                                     </div>
                                     <div class="subscribe">
                                     <div class="subscribe2">
                                          <form>
                                              <input type="submit" value="Detail">
                                          </form>
                                      </div>
                                     <div class="clearfix"></div>
                                  </div>						
                                </div>
                            </div>	

			  <div class="cart-header3">
				  <div class="cart-sec simpleCart_shelfItem">
						<div class="cart-item cyc">
                            <br>
							 <img src="styles/images/Blue Woman_Sun Oct 07 2018 15_51_52 GMT+0000 (UTC).png" class="img-responsive" alt="">
						</div>
					   <div class="cart-item-info">
                           <br>
                            <h3><a href="#"> Blue</a>
                                <div class="delivery">
                               <p>Custom</p>
                               <br>
                               <p>Desaigner : Efriza</p>
                               <br>
                                <p>Service Charges : Rp 20.000</p>
                                <div class="clearfix"></div>
				        </div>	
                       </div>
                       <div class="subscribe">
                       <div class="subscribe2">
                            <form>
                                <input type="submit" value="Detail">
                            </form>
                        </div>
					   <div class="clearfix"></div>
					</div>						
				  </div>
			  </div>		
		 </div>
		 </div>
<!-- checkout -->	


<%- partial('../partials/footer.ejs') %>
			
</body>
</html>